@import url('https://fonts.googleapis.com/css2?family=Acme&family=Grechen+Fuemen&family=Kalam:wght@300;400;700&family=Kumar+One&family=Monomakh&family=Rowdies:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-image: url(../Asset/ダウンロード.gif);
    background-size: cover;
    background-position: center;
    
}
@media screen and (max-width:430px){
    .container {
        width: 100%;
        max-width: 425px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .navbar{
        position: fixed;
        z-index: 99;
        top: 0;
        display: flex;
        background-color: #013000;
        max-width: 425px;
        width: 100%;
        
        align-items: center;
        
    }
    .navbranding {
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 0;
        margin-top: 0;
    }
    .nav-menu .nav-item {
        display: inline-block;
        position: relative;
        
    }
    .nav-menu .nav-item .nav-link{
        display: block;
        
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
    }
    .nav-menu .nav-item .nav-link:hover{
        color: #013000;
    }
    ul li ul.dropdown{
        width: 100%;
        position: absolute;
        z-index: 999;
        display: none;
    }
    .nav-item{
        margin-top: 0;
        padding-top: 0;
        width: 20%;
    }
    .nav-item:hover{
        background-color: #97c596;
    }
    
    
    ul li:hover ul.dropdown{
        display: block;
        background-color: #97c596;
    
    }
    .dropdown{
        padding-left: 0%;
        text-align: center;
    }
    .droplist .personal{
        text-decoration: none;
        list-style: none;
        font-size: 14px;
        text-align: center;
        padding-left: 0;
    }
    .droplist .intern{
        text-decoration: none;
        list-style: none;
        font-size: 14px;
        text-align: center;
        padding-left: 0;
    }
    .droplist a:hover{
        color: #013000;
    }
    .nav-menu .nav-item {
        list-style: none;
    }
    .nav-menu{
        width: 100%;
        max-width: 800px;
        padding: 0;
    }
    ul li {
        list-style: none;
    }
    .nav-item a {
        color: white;
        text-decoration: none;
        
    }
    
    .nav-link {
        transition: 0.7s ease;
        list-style: none;
    }
    
    .nav-link:hover {
        color: black;
    }

    .tophome img{
        width: 100%;
        max-width: 425px;
        position: relative;
        
    }
    .judul1{
        margin-top: 3%;
        margin-bottom: 1%;
    }
    .judul1 img{
        width: 100%;
        max-width: 300px;
        margin-left: 14%;
    }
    .craft{
        background-image: url(../Asset/Background1.png);
        padding-top: 10%;
        padding-bottom: 8%;
        background-size: cover;
    }
    .craft1 {
        padding-left: 4%;
        margin-bottom: 2%;
        margin-top: 2%;
        position: relative;
    }
    .craft1 img{
        width: 100%;
        max-width: 380px;
    }
    .deco1-1{
        position: absolute;
        left: 328px;
        top: 370px;
    }
    .deco1-1 img{
        width: 100%;
        max-width: 90px;
    }
    .craft2{
        padding-left: 4%;
        margin-bottom: 2%;
        margin-top: 2%;
        position: relative;
    }
    .craft2 img{
        width: 100%;
        max-width: 380px;
    }
    .deco1-2{
        position: absolute;
        left: 8px;
        top: 480px;
    }
    .deco1-2 img{
        width: 100%;
        max-width: 120px;
    }
    .judul2{
        margin-top: 3%;
        margin-bottom: 0%;
    }
    .judul2 img{
        width: 100%;
        max-width: 300px;
        margin-left: 14%;
    }
    .art1{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 400px;
        padding-right: 2%;
        margin-left: 2%;
    }
    .artkiri img{
        width: 100%;
        max-width: 240px;
    }
    .artkanan img{
        width: 100%;
        max-width: 140px;
    }
    .artkanan {
        position: relative;
    }
    .decokanan{
        position: absolute;
        left: 337.2px;
        top: 880px;
    }
    .decokanan img{
        max-width: 80px;
    }
    .label1 img{
        width: 100%;
        max-width: 300px;
        margin-left: 15%;
        margin-top: 3%;
        padding-top: 2%;
        padding-bottom: 0%;
    }
    .label1text {
        width: 100%;
        max-width: 425px;
        padding-left: 8%;
        padding-right: 8%;
    }
    .label1text h2 {
        text-align: center;
        font-size: 16px;
        font-family: "Monomakh", serif;
        font-weight: 600;
    }
    .sketch{
        margin-top: 6%;
    }
    .sketch img {
        width: 100%;
        max-width: 425px;
    }
    .label2 img{
        width: 100%;
        max-width: 300px;
        margin-left: 15%;
        margin-top: 1%;
        padding-top: 1%;
        padding-bottom: 0%;
    }
    .artworks{
        background-image: url(../Asset/Background2.png);
        padding-top: 20%;
        padding-bottom: 14%;
        background-size: cover;
    }
    .judul3 img {
        width: 100%;
        max-width: 300px;
        margin-left: 14%;
    }
    .deco1{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .deco1 img{
        width: 100%;
        max-width: 425px;
    }
    .webtext h2 {
        font-size: 16px;
        text-align: center;
        font-family: "Kumar One", serif;
        font-weight: 400;
    }
    .artikelweb img{
        width: 100%;
        max-width: 425px;
    }
    .artikelweb{
        margin-left: 0%;
    }
    .buttonweb{
        margin-left:29%;
        margin-bottom: 3%;
        
    }
    .buttonweb a{
        font-size: 15px;
        text-decoration: none;
        color: #bfffb4;
        background-color: #006911;
        padding-top: 0.8%;
        padding-bottom: 0.8%;
        padding-left: 8%;
        padding-right: 8%;
        border-radius: 10px;
        border-color: #0f1b11;
        border-width: 3px;
        border-style: solid;
        transition: 0.8s;
        font-family: "Kumar One", serif;
        font-weight: 400;
    }
    .buttonweb a:hover{
        background-color: #8cff78;
        color: #00490c;
    }
    .deco2{
        margin-top: 6%;
        margin-bottom: 2%;
    }
    .deco2 img{
        width: 100%;
        max-width: 425px;
    }
    .artikel_text h2{
        font-size: 18px;
        margin-top: 0%;
        color: #ffff;
        font-family: "Rowdies", serif;
        font-weight: 400;
        text-align: center;
    }
    .artikelmedsos{
        display: flex;
        justify-content: space-between;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 3%;
    }
    .textmedsos h2{
        font-size: 14px;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
        font-family: "Monomakh", serif;
        font-weight: 600;
    }
    .kiri a img{
        transition: 0.6s;
        max-width: 120px;
    }
    .kiri a img:hover {
        transform: scale(0.9);
    }
    .tengah a img{
        transition: 0.6s;
        max-width: 120px;
    }
    .tengah a img:hover {
        transform: scale(0.9);
    }
    .kanan a img{
        transition: 0.6s;
        max-width: 120px;
    }
    .kanan a img:hover {
        transform: scale(0.9);
    }
    .artikel{
        background-image: url(../Asset/Background3.png);
        padding-top: 15%;
        padding-bottom: 10%;
        background-size: cover;
    }
}